 <footer class="page-footer navcol" style="width:100%;">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Blog Website</h5>
                <p class="grey-text text-lighten-4">The objective of
                    this project is to create a blog website using
                    Django, a Python web framework. The website will provide users with a list of blogs on the main
                    page and allow them to view individual blog posts when clicked. Authenticated users will also have the ability to create new blog posts.
</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Keep Connected</h5>
                <ul>
                     <li><a class="grey-text text-lighten-3 hov" href="https://www.linkedin.com/in/shivang-shrivastava-1b3755237/">LinkedIn</a></li>
                  <li><a class="grey-text text-lighten-3 hov" href="https://twitter.com/SHIVANG21628065">Twitter</a></li>
                  <li><a class="grey-text text-lighten-3 hov" href="https://www.facebook.com/profile.php?id=100074604172410">Facebook</a></li>
                  <li><a class="grey-text text-lighten-3 hov" href="https://www.instagram.com/shivang3943/">Instagram</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text

            </div>
          </div>
        </footer>